<!--start color box-->
<section class="option-box">
    <div class="color-option">
        <span>Change Lang. </span>
        <ul class="list-unstyled">
            <li data-value='' data-toggle="tooltip" data-placement="left" title="Arabic">Ar</li>
            <li data-value='' data-toggle="tooltip" data-placement="left" title="English">En</li>
        </ul>
    </div>
    <i class="fa fa-desktop fa-lg fa-icon"></i>
</section>
<!--end color box-->
